footer {
	width: 100%;
	height: auto;
	background-color: var(--azul-escuro-bg);
	padding-left: 0.5rem;
	box-shadow: 0 -0.2rem 0.5rem 0 rgba(31, 38, 135, 0.37);
}

.footer h3 {
	color: var(--bege-bg);
	padding: 1rem 0 1rem 0.6rem;
}

h5 {
	font-size: 1rem;
	font-weight: 400;
	color: var(--bege-bg);
}

.col .btn {
	border-radius: 40px;
	margin: 0.5rem;
	transition: transform 0.2s ease-in-out;
}

.col .btn:hover {
	transform: scale(1.15);
}
.bi {
	color: black;
	font-size: 1.5rem;
}

@media (min-width: 1145px) {
	footer div .col {
		margin: 0.2rem !important ;
	}
}
