.navbar {
	background: rgba(4, 191, 191, 0.45);
	box-shadow: 0 0 0.4rem 0.3rem rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
}

.navbar-brand {
	margin: 0;
	color: black;
	font-size: 1.8rem;
	font-family: 'Nunito', sans-serif;
}

.navbar img {
	max-height: 5rem;
	max-width: 6rem;
}

.navbar-light .navbar-nav .nav-link {
	color: black;
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	border-radius: 50px;
	transition: transform 0.5s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
	transform: translateY(-3px);
	color: var(--bege-bg);
	box-shadow: 0 0.1rem 0.2rem 0 grey;
}

.navbar-light .navbar-nav .nav-link:active {
	transition: 0.1s;
	transform: translateY(3px);
	box-shadow: 0 0 0 0;
}

.navbar-toggler {
	border-radius: 1rem;
	background-color: var(--azul-claro-bg);
	transition: filter 0.15s ease-in-out;
	height: 2.5rem;
	width: 3rem;
	font-size: 1.8rem;
}

.navbar-toggler:focus {
	box-shadow: none;
}
.navbar-toggler:active {
	filter: brightness(2);
}

.navbar button.btn::before {
	content: 'X';
}

.navbar button.btn.collapsed::before {
	content: '≡';
}

@media (max-width: 420px) {
	#logo {
		font-size: 1.5rem;
	}
}

@media (max-width: 315px) {
	#logo {
		display: none;
	}
}

@media (max-width: 780px) {
	.navbar-light .navbar-nav .nav-link:hover {
		transform: none;
		color: inherit;
	}
	.navbar-light .navbar-nav .nav-link:focus {
		transform: translateY(2px);
		animation: teste 500ms alternate-reverse;
	}
}

@media (min-width: 1145px) {
	footer div .col {
		margin: 0.2rem !important ;
	}
}

@keyframes teste {
	0% {
		background-color: var(--azul-claro-bg);
		color: black;
		padding: 0.5rem 1rem;
	}
	50% {
		background-color: var(--azul-medio-bg);
		color: var(--bege-bg);
		padding: 0.5rem 2rem;
	}
	100% {
		background-color: var(--azul-claro-bg);
		color: black;
		padding: 0.5rem 1rem;
	}
}
