@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    --bege-bg: #F2E0D0;
    --azul-claro-bg:#04BFBF;
    --azul-medio-bg:#04ADBF;
    --azul-escuro-bg:#027373;
    --verde-bg:#658C0F;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: rgba( 4, 191, 191, 0.45 );
    box-shadow: 0 0 .4rem .3rem rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.0px );
    -webkit-backdrop-filter: blur( 15.0px );
}

.navbar-brand {
    margin: 0;
    color: black;
    font-size: 1.8rem;
    font-family: 'Nunito', sans-serif;
}
.navbar img {
  max-height: 5rem;
  max-width: 6rem;
  
}

.navbar-light .navbar-nav .nav-link  {
    color: black;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: 50px;
    transition: transform 0.5s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover {
    transform: translateY(-3px);
    color:var(--bege-bg);
    box-shadow: 0 .1rem .2rem 0 grey ;
}
.navbar-light .navbar-nav .nav-link:active {
    transition: .1s;
    transform: translateY(3px);
    box-shadow: 0 0 0 0 ;
}

.navbar-toggler {
    border-radius: 1rem;
    background-color: var(--azul-claro-bg);
    transition: filter 0.15s ease-in-out;
    height: 2.5rem;
    width: 3rem;
    font-size: 1.8rem;
}

.navbar-toggler:focus {
    box-shadow: none; 
}
.navbar-toggler:active {
    filter: brightness(2);
}

.navbar button.btn::before{
    content: 'X';
}

.navbar button.btn.collapsed::before{
    content: '≡';
}


/* Footer */

footer {
    height: auto;
    width: 100%;
    
    background-color: var(--azul-escuro-bg);
    padding-left: 0.5rem;
    box-shadow: 0 -.2rem 0.5rem 0 rgba( 31, 38, 135, 0.37 );
}


footer h3{
    color: var(--bege-bg);
    padding: 1rem 0 1rem .6rem;
}


footer h5{
    font-size: 1rem;
    font-weight: 400;
    color: var(--bege-bg);
}

footer .col .btn {
    border-radius: 40px;
    margin:.5rem;
    transition: transform .2s ease-in-out;
}

footer .col .btn:hover {
    transform: scale(1.15);
}
footer .bi {
    color: black;
    font-size: 1.5rem;
}



@media (max-width:420px) {
    #logo {
        font-size: 1.5rem;
    }
}


@media (max-width:315px){
    #logo {
        display: none;
    }
}

@media (max-width:780px) {

    .navbar-light .navbar-nav .nav-link:hover {
        transform: none;
        box-shadow: none;
        color: inherit;
    }
    .navbar-light .navbar-nav .nav-link:active {
        transition: .5s;
        transform: translateY(2px);
        animation: teste 400ms alternate-reverse ;
    }

}

@media (min-width:1145px){
    footer div .col  {
        margin: 0.2rem !important ;
    }
}


@keyframes teste {
    0% {
        background-color: var(--azul-claro-bg);
        color: black;
        padding: .5rem 1rem;
    }
    5%{
        color: var(--bege-bg);
    }
    50% {
        background-color: var(--azul-medio-bg);
        color: var(--bege-bg);
        padding: .5rem 2rem;
    }
    80%{
        color: var(--bege-bg);
    }
    100% {
        background-color: var(--azul-claro-bg);
        color: black;
        padding: .5rem 1rem;
    }
}



